asttokens==3.0.0
attrs==25.3.0
bleach==6.2.0
blinker==1.9.0
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
cssselect==1.3.0
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
entrypoints==0.4
executing==2.2.0
fastjsonschema==2.21.1
flask==3.1.1
flask-login==0.6.3
fonttools==4.58.0
idna==3.10
ipykernel==6.9.2
ipython==9.2.0
ipython-genutils==0.2.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
json5==0.12.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-client==7.1.2
jupyter-console==6.4.4
jupyter-core==5.8.1
jupyterlab==2.3.2
jupyterlab-server==1.2.0
jupyterlab-widgets==3.0.15
kiwisolver==1.4.8
lxml==5.4.0
markupsafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mistune==0.8.4
mpmath==1.3.0
nbconvert==5.6.1
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==5.7.13
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.8
polars==1.30.0
prometheus-client==0.22.0
prompt-toolkit==3.0.51
psutil==7.0.0
pure-eval==0.2.3
pycurl==7.45.6
pygments==2.19.1
pyparsing==3.2.3
pyquery==2.0.1
pyspider==0.3.10
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pywinpty==2.0.15
pyyaml==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
scipy==1.15.3
send2trash==1.8.3
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tblib==3.1.0
terminado==0.13.3
testpath==0.6.0
tornado==4.5.3
traitlets==5.14.3
tzdata==2025.2
u-msgpack-python==2.8.0
urllib3==2.4.0
wcwidth==0.2.13
webencodings==0.5.1
werkzeug==3.1.3
widgetsnbextension==4.0.14
wsgidav==4.3.3
